<section class="characterinfo">
  <div class="character cf" ng-model="characters">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{characters[whichItem].name}}</h1>
    <div class="info">
      <h3>{{characters[whichItem].reknown}}</h3>
      <img ng-src="images/{{characters[whichItem].shortname}}.jpg" alt="Photo of {{characters[whichItem].name}}">
      <div class="bio">{{characters[whichItem].bio}}</div>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>